body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(stock-photo-engineers-are-helping-to-design-work-on-blueprints-and-collaborate-on-structural-analyzing-of-1724713963.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
}
.container{
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    background: white;
}
h1{
    text-align: center;
    color: gold;
}
form{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px;
}
button{
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    
}
button:hover{
    background: brown;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 12px;
    border-bottom: 1px solid blue;
}
.delete-btn{
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}